body{
    font-family: Arial, sans-serif;
    background:#6438b0;
    margin:0;
    padding:20px;
  }
.container{
    max-width:400px;
    margin:0 auto;
    background:#65cdba;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px red;
  }
h1{
    text-align:center;
    color:black;
    margin-bottom:20px;
  }
label{
    display:block;
    margin-top:15px;
    font-weight:bold;
  }
input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid white;
    border-radius:4px;
  }
button{
margin-top:20px;
width:100%;
padding:12px;
background:rgb(58, 174, 58);
color:white;
font-size:16px;
font-weight:bold;
border:none;
border-radius:4px;
cursor:pointer;
}
button:hover{
    background-color: red;
}