* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff8f0;
  color: #333;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
  height: 90%;
  width: 90%;
  display: flex;               
  justify-content: center;      
  align-items: center;          
}
.emoji{
  height: 100px;
  width: 100px;
}
.box {
  position: relative;
  animation: bounce 3s ease-in-out infinite; 
}
@keyframes bounce 
{
  0%   
  { 
    transform: translateY(0px); 
  }
  20%   
  { 
    transform: translateY(300px); 
  }
  35%   
  { 
    transform: translateY(0); 
  }
  50%   
  { 
    transform: translateY(200px); 
  }
  65%   
  { 
    transform: translateY(0); 
  }
  75%   
  { 
    transform: translateY(100px); 
  }
  85%   
  { 
    transform: translateY(0); 
  }
  92%   
  { 
    transform: translateY(50px); 
  }
  100%   
  { 
    transform: translateY(0); 
  }
}








